@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62, 5%;
}

header, h2 {
  color: white;
}

ul {
  list-style-type: none;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  background-color: rgb(45, 99, 182);
}

header {
  background-color: rgb(45, 99, 182);
  font-weight: 400;
  line-height: 1.5;
  display: block;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11;
}

.flex-header {
  background-color: rgb(45, 99, 182);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.flex-header img {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}

body {
  background-color: white;
  font-family: "roboto", sans-serif;
  text-align: left;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.acercar {
  overflow: hidden;
}

.acercar img {
  transition: all 1.5s;
}

.acercar:hover img {
  transform: scale(1.5);
}

.bg {
  background-color: black;
}

/* mixin */
.img1 {
  height: 300px;
  width: 300px;
}

.img2 {
  height: 300px;
  width: 300px;
}

.img3 {
  height: 300px;
  width: 300px;
}

.img-admin1 {
  height: 200px;
  width: 200px;
}

.img-admin2 {
  height: 200px;
  width: 200px;
}

.img-admin3 {
  height: 200px;
  width: 200px;
}

/* extend */
.bordes-queesurbex, .img-admin3, .img-admin2, .img-admin1, .img3, .img2, .img1 {
  border: 3px solid gray;
}

/* Mobile First */
.carrousel {
  position: relative;
  padding: 0;
  zoom: 1;
  max-height: 425px;
}

.carrousel img {
  width: 100%;
  max-height: 425px;
}

.titulo1 {
  margin-left: 1rem;
}

.parrafo-index {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
}

.color {
  background-color: rgb(45, 99, 182);
  display: block;
  justify-content: space-between;
}

.h1-queesurbex {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.p-1 {
  font-size: 15px;
  margin-left: 25px;
  width: 90%;
}

.h2-queesurbex h2 {
  color: black;
  margin-left: 25px;
}

.p-11 {
  font-size: 15px;
  margin-left: 25px;
  width: 90%;
}

.img-queesurbex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.img1 {
  margin: 10px 10px 10px 10px;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1:hover {
  transform: scale(1.2);
}

.img2 {
  margin: 10px 10px 10px 10px;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.img2:hover {
  transform: scale(1.2);
}

.img3 {
  margin: 10px 10px 10px 10px;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.img3:hover {
  transform: scale(1.2);
}

.text-vecinos {
  align-items: center;
}

.h1-admin {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 25px;
}

.pf-admin {
  font-size: 15px;
  align-items: flex-start;
  justify-content: left;
  width: 90%;
  margin-left: 25px;
}

.img-admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.img-admin1 {
  margin: 10px 10px 10px 10px;
}

.img-admin2 {
  margin: 10px 10px 10px 10px;
}

.img-admin3 {
  margin: 10px 10px 10px 10px;
}

.cont-vecinos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 0;
  margin: 0;
  padding: 0;
}

.col {
  justify-content: center;
  margin-bottom: 10px;
  padding: 0;
}

.row {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.vecinos {
  width: 15rem;
}

.comu {
  color: black;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-contacto {
  max-width: 700px;
  margin: 0 auto;
}

.form-element {
  display: block;
  width: 80%;
  margin: 1rem auto;
}

form .boton {
  padding: 0.5em 1em;
  margin-bottom: 10px;
  border: solid black 1px;
  background: black;
  color: white;
  cursor: pointer;
}

footer {
  background-color: rgb(45, 99, 182);
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  margin-bottom: 0;
}

footer div {
  line-height: 50px;
}

.footer1 li {
  color: white;
}

.footer1 li a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* declaro las grid área */
/*HTML adminstradores */
.h1-admin {
  grid-area: h1-admin;
}

.pf-img {
  grid-area: pf-img;
}

.img-admin {
  grid-area: img-admin;
}

footer {
  grid-area: footer;
}

/*HTML contacto */
.comu {
  grid-area: comu;
}

.nom {
  grid-area: nom;
}

.ape {
  grid-area: ape;
}

.email {
  grid-area: email;
}

.tipo {
  grid-area: tipo;
}

.textarea {
  grid-area: textarea;
}

@media (min-width: 576px) {
  body {
    background-color: antiquewhite;
  }
  .grid {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: 5px;
  }
  form {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  body {
    background-color: lightgrey;
  }
  footer {
    background-color: rgb(45, 99, 182);
    padding: 1.5em;
    margin-bottom: 0;
  }
  .footer1 {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    width: 100%;
    padding-top: 0px;
    list-style-type: none;
  }
  .footer1 li {
    padding-right: 2px;
    display: inline;
    padding-left: 2px;
    float: left;
    padding-bottom: 2px;
    width: 50%;
    padding-top: 2px;
    color: white;
  }
  .footer1 li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px) {
  body {
    background-color: lightblue;
  }
  .color a {
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
  }
  .color a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  .color a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
  }
  .titulo1 {
    margin-left: 6rem;
    margin-top: 5px;
  }
  p {
    font-size: 20px;
  }
  .parrafo-index {
    margin-left: 6rem;
    width: 85%;
  }
  .h1-queesurbex {
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  .p-1 {
    margin-left: 70px;
    width: 90%;
  }
  .h2-queesurbex h2 {
    margin-left: 70px;
    color: black;
  }
  .p-11 {
    margin-left: 70px;
    width: 90%;
  }
  .h1-admin {
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .main-admin {
    display: grid;
    grid-template-areas: "h1-admin h1-admin" "pf-img   img-admin" "pf-img   img-admin" "pf-img   img-admin" "footer   footer";
    grid-template-columns: 2fr 1fr;
  }
  .cont-vecinos {
    justify-content: space-around;
  }
  .vecinos {
    list-style-type: disc;
    font-size: 20px;
    display: inline-block;
    align-content: left;
    margin: 0px 6px;
    color: black;
    height: 500px;
    font-family: raleway, "sans-serif";
  }
  .comu {
    padding: 10px;
    margin-top: 10px;
  }
  .main-vecinos .container {
    max-width: 100%;
  }
  footer {
    background-color: rgb(45, 99, 182);
    padding: 1.5em;
    margin-bottom: 0;
  }
  .footer1 {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    width: 100%;
    padding-top: 0px;
    list-style-type: none;
  }
  .footer1 li {
    padding-right: 2px;
    display: inline;
    padding-left: 2px;
    float: left;
    padding-bottom: 2px;
    width: 50%;
    padding-top: 2px;
    color: white;
  }
  .footer1 li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 80%;
  }
  footer {
    background-color: rgb(45, 99, 182);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
  }
  .footer {
    background-color: rgb(45, 99, 182);
    padding: 3rem;
  }
  .footer1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  .footer1 li {
    list-style-type: none;
    font-size: 16px;
    margin: 0 20px;
    color: white;
    font-family: roboto, "sans-serif";
  }
}/*# sourceMappingURL=style.css.map */